.large-link {
  margin: 10px;
  /* margin-right: 0px; */
  color: rgb(255, 165, 180);
  background-color: white;
  display: inline-block;
  width: 150px;
  /* height: 60px; */
  border-radius: 18px;
  padding: 10px;
  text-decoration: none;
  border: 2px solid rgb(255, 165, 180);
  transition: .2s;
  /* box-shadow: 0px 0px 6px rgb(255, 165, 180); */
  font-family: 'Comic Neue';
  text-align: center;
}

.large-link:hover {
  color: white;
  background-color: rgb(255, 165, 180);
  border-radius: 12px;
  transition: .2s;
  box-shadow: 0px 0px 24px rgb(255, 165, 180);
}

.large-link:active,
.large-link:focus {
  color: #d89fa9;
  background-color: #f3f3f3;
  border-radius: 6px;
  transition: .2s;
  box-shadow: 0px 0px 0px;
}

h1 {
  color: #4a4c57;
}

a {
  font-weight: 500;
  color: rgb(228, 98, 119);
  text-decoration: underline;
  transition: .2s;
}

a:hover {
  color: rgb(153, 82, 94);
  transition: .2s;
}

.icon-link {
  font-size: 27px;
  color: rgb(88, 88, 88);
  text-decoration: none;
}

.icon-link:hover {
  color: rgb(34, 34, 34);
}

.friend-large-link {
  margin: 10px;
  /* margin-right: 0px; */
  color: rgb(58, 76, 88);
  background-color: white;
  display: inline-block;
  width: 150px;
  min-height: 200px;
  border-radius: 18px;
  padding: 10px;
  text-decoration: none;
  border: 2px solid rgb(58, 76, 88);
  transition: .2s;
  box-shadow: 0px 0px 6px rgb(58, 76, 88);
  font-family: 'Comic Neue';
  text-align: center;
}

.friend-large-link:hover {
  color: white;
  background-color: rgb(58, 76, 88);
  border-radius: 12px;
  transition: .2s;
  box-shadow: 0px 0px 24px rgb(58, 76, 88);
}

.friend-large-link:active,
.friend-large-link:focus {
  color: rgb(58, 76, 88);
  background-color: #f3f3f3;
  border-radius: 6px;
  transition: .2s;
  box-shadow: 0px 0px 0px;
}

.hidden {
  display: none !important;
  visibility: hidden;
  height: 0;
}
