@import url('https://fonts.googleapis.com/css?family=Fira+Code|Noto+Sans+SC');

body {
  font-family: 'Fira Code', 'Noto Sans SC' !important;
  font-size: 18px;
  background-color: #fbeeec;
}


p,
h3,
h5 {
  color: rgb(22, 22, 22);
}

/* ppp {
  color: #b4b2d3;
} */

h1 {
  font-size: 35px;
  color: #4a4c57;
}

h2 {
  font-size: 26px;
  color: rgb(0, 0, 0);
}

a {
  font-weight: 500;
  color: #5b60b1;
  text-decoration: inherit;
}

a:hover {
  color: #4e4f58;
}